<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	<link href="{{{resources}}}/materialize/css/materialize.min.css" rel="stylesheet">
	<script type="text/javascript" src="{{{resources}}}/js/jquery-3.3.1.min.js"></script>
	<script type="text/javascript" src="{{{resources}}}/materialize/js/jquery-3.3.1.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">JavaScript</a></li>
      </ul>
    </div>
  </nav>

</body>
</html>