<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
	
	<link href="{{{resources}}}/materialize/css/materialize.min.css" rel="stylesheet">
	<script type="text/javascript" src="{{{resources}}}/materialize/js/materialize.min.js"></script>
	
	
	<script type="text/javascript" src="{{{resources}}}/js/jquery-3.3.1.min.js"></script>
	
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

	<!-- Barra de Navegacion -->
	  <nav class="ColorBarranaVegacionCompleta" role="navigation">
	    <div class="nav-wrapper container">
	      <a id="logo-container" href="{% url 'inicio' %}" class="brand-logo"><i class="large material-icons" style="color: red;">cloud</i></a>
	      <ul class="hide-on-med-and-down" style="position: relative;left: 4em;">
	        
	        <li><a href="#">Tutorial</a></li>
	        <li><a href="#">Jugando</a></li>
	        <li><a href="#">Blog</a></li>
	        <li><a href="#">Contacto</a></li>
	      </ul>
	      <!-- Parte mobile -->
	      <ul id="nav-mobile" class="sidenav">
	        <li><a href="#"><i class="small material-icons">subscriptions</i>Dashboard</a></li>
	        <li><a href="#"><i class="small material-icons">insert_chart</i>Jugando</a></li>
	        <li><a href="#"><i class="small material-icons">subscriptions</i>Blog</a></li>
	        <li><a href="#"><i class="small material-icons">insert_chart</i>Contacto</a></li>
	      </ul>
	      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
	    </div>
	  </nav>
	<!-- Fin de Navegacion -->
	
</body>
</html>